@import url(https://fonts.googleapis.com/css?family=Crete+Round|Kalam&display=swap);
body {
  font-family: "Crete Round", serif;
  margin: 0;
  background-color: #3f6c45;
  color: #f4f4ef;
}
h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: Kalam, cursive;
}
#content {
  position: relative;
  min-height: 100vh;
  width: 70%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
#mainContent {
  padding-bottom: 2.5rem;
}
header img {
  margin: auto;
  width: 100%;
}
#mainTitle {
  margin: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.1em;
  font-size: 2em;
  text-shadow: 0.25em 0.25em 0.25em #50312f;
}
#titleDiv {
  background-color: #cb0000;
  color: #e4ea8c;
  display: inline-block;
  border-radius: 20px;
  padding: 1.5em;
  margin-top: 1.5em;
  border: 0.25em solid #f4f4ef;
}
#searchDiv {
  padding-top: 0.5em;
}
#catOptions,
#search {
  font-size: 1.25em;
  font-family: "Crete Round", serif;
  border-radius: 10px;
  padding: 0.2em;
}
#catOptions {
  background-color: #f4f4ef;
}
#search {
  background-color: #50312f;
  color: #f4f4ef;
  border: none;
}
button#search {
  padding: 0.3em;
  margin-left: 0.25em;
  margin-bottom: 1.2em;
}
#search:hover,
.navButtons:hover {
  box-shadow: 0.25em 0.25em 0.25em #acbebe;
}
#recipeDiv {
  text-align: left;
  justify-content: center;
}
#mainRecTitle,
#recTitle {
  text-align: center;
  margin: 0.5em auto;
  margin-bottom: 0.5em;
  width: 50%;
  font-size: 2.5em;
  text-decoration: underline #50312f;
}
#ulDiv {
  width: 50%;
  margin: auto;
  text-align: center;
}
#allRecipes,
#ulRecipes {
  list-style: inside;
  width: 85%;
  margin: auto;
  padding: 0;
  background-color: #cb0000;
  color: #f4f4ef;
  border-radius: 20px;
  padding: 1em;
  font-size: 1.5em;
  margin-bottom: 2em;
}
#allRecipes {
  width: 50%;
  height: 24em;
  font-size: 1.5em;
  overflow: auto;
}
#allRecipes li,
#ulRecipes li {
  text-align: left;
  padding-bottom: 0.75em;
}
#ulRecipes li:last-child #allRecipes li:last-child {
  padding-bottom: initial;
}
#allRecipes li:hover,
#ulRecipes li:hover {
  text-shadow: 0.25em 0.25em 0.25em #50312f;
}
#ingredientList {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5em;
  list-style-type: none;
  text-align: left;
  font-size: 1.5em;
  padding: 1em;
  background-color: #50312f;
  color: #f4f4ef;
  border-radius: 20px;
  font-weight: lighter;
}
#ingsDiv.leftIngList {
  grid-column: 1;
}
#ingsDiv.rightIngList {
  grid-column: 2;
}
#recipeTitle {
  text-align: center;
  margin: 1em auto;
  margin-bottom: 0.5em;
  width: 50%;
  font-size: 2.5em;
  text-decoration: underline #cb0000;
}
#instruct {
  font-size: 1.5em;
  text-align: left;
  width: 70%;
  margin: 1.5em auto;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #50312f;
}
.navButtons {
  text-decoration: none;
  color: #f4f4ef;
  background-color: #50312f;
  border-radius: 20px;
  padding: 0.5em 1em;
  margin-top: 4em;
  font-size: 1em;
}
a#addButton {
  margin-top: 3em;
  font-size: larger;
  margin-bottom: 4em;
}
#newRecForm {
  color: #e4ea8c;
  display: grid;
  margin-top: 2em;
}
#loginDiv fieldset,
#newRecForm fieldset,
#registerDiv fieldset {
  border: none;
  margin: auto;
  margin-top: 1em;
  padding: 1.2em;
  width: 70%;
  height: auto;
  border-radius: 20px;
  background-color: #50312f;
}
#loginDiv fieldset,
#registerDiv fieldset {
  margin: 4em auto;
  width: 50%;
}
#loginDiv table,
#newRecForm table,
#registerDiv table {
  margin: auto;
  border-spacing: 0.75em;
}
#loginDiv #legend,
#newRecForm #legend,
#registerDiv #legend {
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  margin: auto;
  padding-bottom: 0.1em;
  margin-bottom: 0.7em;
  border-bottom: 0.2em solid #cb0000;
}
#loginDiv #legend,
#registerDiv #legend {
  margin-bottom: 0.25em;
  color: #e4ea8c;
}
#loginDiv label,
#newRecForm label,
#registerDiv label {
  color: #acbebe;
  font-size: 1.2em;
}
#loginDiv table .padInputs,
#newRecForm table .padInputs,
#registerDiv table .padInputs {
  padding: 0.3em;
  background-color: #f4f4ef;
}
#recSubmit.navButtons {
  font-family: "Crete Round", serif;
  border: none;
  font-size: 1.2em;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  background-color: #3f6c45;
}
#newRecForm #subRec {
  text-align: center;
}
html {
  --scrollbarBG: #f4f4ef;
  --thumbBG: #3f6c45;
}
#allRecipes::-webkit-scrollbar {
  width: 0.8em;
}
#allRecipes {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
#allRecipes::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 20px;
}
#allRecipes::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 20px;
  border: 3px solid var(--scrollbarBG);
}
