@import url("https://fonts.googleapis.com/css?family=Crete+Round|Kalam&display=swap");
/*
#882426 - burgundy
#CDBEA7 - Oatmeal
#323030 - Cinder
#C29545 - Gold
*/

/*
20232a - ink
acbebe - aluminum
f4f4ef - paper
a01d26 - ruby red
*/

body {
  font-family: "Crete Round", serif;
  margin: 0;
  background-color: #acbebe;
  color: #a01d26;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kalam", cursive;
}

#content {
  position: relative;
  min-height: 100vh;
  width: 70%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

#mainContent {
  padding-bottom: 2.5rem; /* Footer height */
}

header img {
  margin: auto;
  width: 100%;
}
#mainTitle {
  margin: 0;
  padding-bottom: 0.1em;
  font-size: 2em;
  text-shadow: 0.25em 0.25em 0.25em #20232a;
}

#titleDiv {
  background-color: #a01d26;
  color: #f4f4ef;
  display: inline-block;
  border-radius: 20px;
  padding: 1.5em;
}

#searchDiv {
  padding-top: 0.5em;
}
#catOptions,
#search {
  font-size: 1.25em;
  font-family: "Crete Round", serif;
  border-radius: 10px;
  padding: 0.2em;
}

#catOptions {
  background-color: #f4f4ef;
}

#search {
  background-color: #20232a;
  color: #f4f4ef;
  border: none;
}
button#search {
  padding: 0.3em;
  margin-left: 0.25em;
}

#search:hover {
  box-shadow: 0.25em 0.25em 0.25em #acbebe;
}
#recipeDiv {
  text-align: left;
  justify-content: center;
}

#recTitle {
  margin: 2em auto;
  margin-bottom: 0.5em;
  width: 50%;
  font-size: 2.5em;
  text-decoration: underline #20232a;
}

#mainRecTitle {
  text-align: center;
  margin: 0.5em auto;
  margin-bottom: 0.5em;
  width: 50%;
  font-size: 4em;
  text-decoration: underline #20232a;
}

#ulDiv {
  width: 50%;
  margin: auto;
  text-align: center;
}

#ulRecipes,
#allRecipes {
  list-style: inside;
  width: 75%;
  margin: auto;
  padding: 0;
  background-color: #a01d26;
  color: #f4f4ef;
  border-radius: 20px;
  padding: 1em;
  font-size: 1.5em;
}
#allRecipes {
  width: 50%;
  font-size: 2em;
}
#ulRecipes li,
#allRecipes li {
  text-align: left;
  padding-bottom: 0.75em;
}

#ulRecipes li:last-child #allRecipes li:last-child {
  padding-bottom: initial;
}

#ulRecipes li:hover,
#allRecipes li:hover {
  text-shadow: 0.25em 0.25em 0.25em #20232a;
}

#ingredientList {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5em;
  list-style-type: none;
  text-align: left;
  font-size: 1.5em;
  padding: 1em;
  background-color: #20232a;
  color: #f4f4ef;
  border-radius: 20px;
  font-weight: lighter;
}

#ingsDiv.leftIngList {
  grid-column: 1;
}

#ingsDiv.rightIngList {
  grid-column: 2;
}
#recipeTitle {
  text-align: center;
  margin: 1em auto;
  margin-bottom: 0.5em;
  width: 50%;
  font-size: 2.5em;
  text-decoration: underline #20232a;
}
#instruct {
  font-size: 1.5em;
  text-align: left;
  width: 70%;
  margin: 1.5em auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #20232a;
}

#homeButton {
  text-decoration: none;
  color: #f4f4ef;
  background-color: #20232a;
  border-radius: 20px;
  padding: 0.5em 1em;
  margin-top: 4em;
  font-size: 1.2em;
}
